
<ion-list >
  <ion-item-sliding *ngFor = "let lista of deseosSevices.listas | filtroLista : tipo" color="dark">
    <ion-item detail color="dark" (click)="listaSeleccionada(lista)">
      <ion-label>{{ lista.titulo }}</ion-label>
      <!-- se agrego un ion badge para accesibilidad -->
      <ion-badge color="tertiary" slot="end"> {{ lista.item.length }} tareas </ion-badge>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="borrarLista(lista)">
        Eliminar
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="start">
      <ion-item-option color="warning" (click)="editarLista(lista)">
        <ion-icon name="create" ></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>
